<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<img class="img-fluid w-100" SRC="https://www.meme-arsenal.com/memes/fc4f63e7d03286bc4018816f98df755f.jpg"  />


<body >

    <div  class="booking-form-box">
        <div class="radio-btn">
            <input type="radio" class="btn" name="check" checked="checked"><span>Tek Yön </span>
            <input type="radio" class="btn" name="check"><span>Gidiş-Dönüş</span>
        </div>

        <div class="booking-form">
            <label>Kalkış</label>
               <input type="text" class="form-control" placeholder="Şehir ismi giriniz...">
            <label>Varış</label>
               <input type="text" class="form-control" placeholder="Şehir ismi giriniz...">

               <div class="input-grp">
                <label >Gidiş Tarihi</label>
                   <input type="date" class="form-control select-date">
             </div>
    
             <div class="input-grp">
                <label>Dönüş Tarihi</label>
                   <input type="date" class="form-control select-date">
             </div>
    
             <div class="input-grp">
                   <button type="button" class="btn btn-primary road">Otobüs Ara</button>
             </div>
        </div>

       

    </div>
    
</body>
    
      

   

<router-outlet></router-outlet>
