<div id="mySidenav" class="sidenav">
    <p style="font-size:30px ;font-family: 'Krona One';padding: 8px 8px 8px 32px;color: #f8f8f8; ">Metro Truzim</p>
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#" routerLink="/profil" >Profilim</a>
    <a href="#">Biletlerim</a>
    <a href="#">Bilet Sorgulama</a>
    <a href="#">Metro Kurumsal</a>
  </div>
  
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  <router-outlet></router-outlet>